.header {
    padding: 30px;
    text-align: center;
    background: rgb(110, 5, 5);
    color: white;
    font-size: 30px;
}


.h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.founded {
    padding: -40px;
    margin: -40px;
    font-size: 20px;
}

.slogan{
    padding: 40px;
    margin: 40px;

}