
header{
    background: rgb(110, 5, 5);
}

.h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



nav{
    float: right
}

.container {
    background: rgb(110, 5, 5);
    width: 80%;
    margin: 0 auto;
}

.logo {
    float: left;
}

header::after {
    content: "";
    clear: both;
    display: table;
  }